#archives
    position relative
    top 100px
    margin auto
    padding 20px


    a, .tag-icon
        color label-font
        text-decoration none

    .tags
        padding-top 10px
        padding-bottom 10px
        .tag
            margin-right 10px

    h2
        font-weight normal !important
        text-align left !important
        color posts-title !important
        text-decoration none !important

    .category-and-date
        width 100%
        margin-top 10px
        margin-bottom 10px
        color #9e9e9e
        text-align left

        .category
            padding-right 25px