.categories-tags
    position relative
    top 100px
    margin auto
    text-align left

    .all-s
        text-align left
        max-width 900px
        width 90%
        margin auto

        span
            display inline-block

            

            a

                color white
                text-decoration none
                transition all 0.5s
                background rgb(61, 61, 61)

                

                &:hover
                    background rgb(255, 255, 255) !important
                    color label-font

                    .icon
                        color label-font

            .icon
                margin-left 0
                margin-right 10px
                color white

    #archives
        top 60px
