menu-default-background = #ffffff
menu-default-font = #4473c4ba
menu-index-background = menu-default-font
menu-index-font = menu-default-background
body-background = #f6f8fa
side-card-avatar = #f1f1f1
side-card-button = linear-gradient(120deg, #96ceff 0, #ff9edb 100%)
posts-title = #66afef
text-font = #1e3e3f
label-font = #5c6b72
default-link = #66afef
th-font = #fff
th-color-sing = #a3ddfb
th-color-dual = #a3ddfb
td-color-sing = #d9e8ff4d
td-color-dual = #c7e0fb4d
go-post = linear-gradient(120deg, #9abbf7 0%, #ffbbf4 100%)
go-post-shadow = #ffbbf47a
go-post-shadow-hover = #9abbf77a
current-color = #da0a51
page-index-active = menu-default-background
code-font = #4b616b
code-background = #bddcf76b
code-tag = linear-gradient(to right, #ed6ea0 0, #ec8c69 100%)
code-tag-shadow = #ed6ea14d
footer-line = #aaa
scrollbar-track-background = #cedcf580
scrollbar-thumb = #02b0c7
default-font-family = -apple-system, BlinkMacSystemFont, Segoe UI, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Helvetica Neue, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol
code-font-family = CascadiaCode
linear-hover = linear-gradient(90deg,#ffff,#fff8)
noti-background = #ffffff9f

/***************/
/*自定义卡片颜色*/
/***************/

//个人信息

inf-bg = #4473c4b3

//友链

fl-bg = #0fa3dd95