menu-default-background = white
menu-default-font = #fe8ea2cc
menu-index-background = menu-default-font
menu-index-font = menu-default-background
body-background = #ffffff
side-card-avatar = #fe8ea22e
side-card-button = linear-gradient(120deg, #febbc7 0%, #ffb5de 100%)
posts-title = #ff728bcc
text-font = #000000a6
label-font = #9E9E9E
default-link = #ff728bcc
th-font = #ffffff
th-color-sing = #ff728bcc
th-color-dual = #ff728bcc
td-color-sing = #ffd9e54d
td-color-dual = #fbc7d84d
go-post = linear-gradient(120deg, #febbc7 0%, #ffb5de 100%)
go-post-shadow = #ffbbf47a
go-post-shadow-hover = #9abbf77a
current-color = #fe8ea299
page-index-active = menu-default-background
code-font = #4b616b
code-background = #ffdcf266
code-tag = linear-gradient(120deg, #febbc7 0%, #ffb5de 100%)
code-tag-shadow = #ff7db14d
footer-line = #aaa
scrollbar-track-background = none
scrollbar-thumb = rgb(255, 200, 209)
default-font-family = Kosugi
code-font-family = CascadiaCode
linear-hover = linear-gradient(90deg,#ffff,#fff8)
noti-background = #ffffffcf

/***************/
/*自定义卡片颜色*/
/***************/

//个人信息

inf-bg = #fe8ea299

//友链

fl-bg = #0fa3dd95

//右下角按钮
