menu-default-background = #24292e
menu-default-font = rgb(18, 137, 255)
menu-index-background = #00000033
menu-index-font = menu-default-font
body-background = #001537
side-card-avatar = #cdcdcd
side-card-button = menu-default-background
posts-title = rgb(255, 255, 255)
text-font = #cbcbcb
label-font = #c4c4c4
default-link = #5299bc
th-font = white
th-color-sing = menu-default-background
th-color-dual = menu-default-background
td-color-sing = #e5e8ef4d
td-color-dual = #e1e5ec80
go-post = #b7b7b7
go-post-shadow = rgb(159, 159, 159)
go-post-shadow-hover = rgb(216, 216, 216)
current-color = #4387c1
page-index-active = menu-default-background
code-font = #4b616b
code-background = rgb(157, 198, 215)
code-tag = #5c6b72
code-tag-shadow = #ed6ea14d
footer-line = #aaa
scrollbar-track-background = none
scrollbar-thumb = #5c6b72
default-font-family = Kosugi
code-font-family = CascadiaCode
linear-hover = linear-gradient(90deg,#000f,#0008)
noti-background = #141414a3

/***************/
/*自定义卡片颜色*/
/***************/

//个人信息

inf-bg = #264f72c4

//友链

fl-bg = rgb(113, 10, 98)