.uip01 {
    margin: auto;
    position: relative;
    top: 200px;
    color: text-font;
    padding: 20px;
    font-size: 15px;

    h1 {
        font-weight: bolder;
        margin: 20px 0;
    }

    .info {
        a {
            color: #5c6b72;
            text-decoration: none;
        }

        .date, .category, .tags {
            color: #5c6b72;
            display: inline-block;
            margin-right: 20px;

            .tag {
                margin-right: 10px;
            }
        }
    }

    .content {
        margin: 50px 0;
    }
}

img
    .emoji
        height: 1em;
        width: 1em;
        margin 0 0.05em 0 0.1em
        vertical-align -0.1em

