<% var rootlink=config.root %>
<!--aplayer支持-->
<% if(theme.aplayer.enable){ %>
<div id="aplayer" style="z-index: 999;"></div>
<script src="<%- rootlink %>libs/aplayer/APlayer.min.js"></script>
<script>
    const ap = new APlayer({
        container: document.getElementById('aplayer'),
        fixed: true,                //是否附着页面底部，否为false
        autoplay: false,             //是否自动播放，否为false,移动端不能生效
        volume: 0.6,                //初始音量（0~1）
        lrcType: 2,                 //歌词模式（1、HTML模式 2、js模式 3、lrc文件模式）
        mutex: true,
        order: 'list',
        preload: 'none',
        listFolded: true,
        theme: '#fbcdd6',
        audio: [
            {
                name: 'Last Dance',           //歌曲名称
                artist: 'Xomu',       //歌曲作者
                url: 'https://music.163.com/song/media/outer/url?id=1370028656.mp3',         //歌曲源文件地址
                cover: 'http://p2.music.126.net/5c5td5fAH2mLxmhheVnwSQ==/109951164127309465.jpg',     //歌曲封面地址
                lrc: "[00:00.000]CirCle S博客加入的电音，请欣赏"
            },
            {
                name: '群青',           //歌曲名称
                artist: 'yoasobi',       //歌曲作者
                url: 'https://music.163.com/song/media/outer/url?id=1472480890.mp3',         //歌曲源文件地址
                cover: 'https://p1.music.126.net/sF9I_mKMVNtsCD-ZXzfV_A==/109951165251958014.jpg',     //歌曲封面地址
                lrc: '[00:00.966]嗚呼いつもの様に\n[00:03.516]過ぎる日々にあくびが出る\n[00:07.049]さんざめく夜越え今日も\n[00:11.066]渋谷の街に朝が降る\n[00:14.949]どこか虚しいような\n[00:17.749]そんな気持ち\n[00:19.632]つまらないな\n[00:21.282]でもそれでいい\n[00:23.066]そんなもんさ\n[00:24.882]これでいい\n[00:25.865]知らず知らず隠してた\n[00:25.565]\n[00:28.599]本当の声を響かせてよほら\n[00:33.032]見ないフリしていても\n[00:35.699]確かにそこにある\n[00:40.174]感じたままに描く\n[00:39.357]\n[00:43.024]自分で選んだその色で\n[00:46.630]眠い空気纏う朝に\n[00:50.080]訪れた青い世界\n[00:53.747]好きなものを好きだと言う\n[00:57.314]怖くて仕方ないけど\n[01:00.445]本当の自分\n[01:02.613]出会えた気がしたんだ\n[01:15.679]嗚呼手を伸ばせば伸ばすほどに\n[01:12.107]\n[01:19.912]遠くへゆく\n[01:21.861]思うようにいかない今日も\n[01:25.727]また慌ただしくもがいてる\n[01:29.444]悔しい気持ちも\n[01:31.155]ただ情けなくて\n[01:34.205]涙が出る\n[01:35.988]踏み込むほど\n[01:37.788]苦しくなる\n[01:39.504]痛くもなる\n[01:44.155]感じたままに進む\n[01:43.218]\n[01:47.006]自分で選んだこの道を\n[01:50.538]重いまぶた擦る夜に\n[01:54.155]しがみついた青い誓い\n[01:57.771]好きなことを続けること\n[02:01.105]それは楽しいだけじゃない\n[02:04.378]本当にできる\n[02:06.597]不安になるけど\n[02:08.980]何枚でも\n[02:08.561]\n[02:10.381]ほら何枚でも\n[02:12.080]自信がないから描いてきたんだよ\n[02:15.647]何回でも\n[02:17.397]ほら何回でも\n[02:19.199]積み上げてきたことが武器になる\n[02:22.764]周りを見たって\n[02:24.439]誰と比べたって\n[02:26.181]僕にしかできないことはなんだ\n[02:29.848]今でも自信なんかない\n[02:33.348]それでも\n[02:35.781]感じたことない気持ち\n[02:35.007]\n[02:38.563]知らずにいた想い\n[02:41.798]あの日踏み出して\n[02:43.964]初めて感じたこの痛みも全部\n[02:49.181]好きなものと向き合うことで\n[02:52.732]触れたまだ小さな光\n[02:55.965]大丈夫行こうあとは楽しむだけだ\n[03:04.189]全てを賭けて描く\n[03:03.223]\n[03:06.913]自分にしか出せない色で\n[03:10.480]朝も夜も走り続け\n[03:13.296]見つけ出した青い光\n[03:17.680]好きなものと向き合うこと\n[03:21.146]今だって怖いことだけど\n[03:24.497]もう今はあの日の透明な僕じゃない\n[03:32.075]ありのままの\n[03:33.692]かけがえの無い僕だ\n[03:36.127]知らず知らず隠してた\n[03:35.978]\n[03:38.783]本当の声を響かせてよほら\n[03:43.151]見ないフリしていても\n[03:45.917]確かにそこに今もそこにあるよ\n[03:50.467]知らず知らず隠してた\n[03:53.184]本当の声を響かせてよさあ\n[03:57.430]見ないフリしていても\n[04:00.096]確かにそこに君の中に\n[04:07.390]-'        //歌曲的歌词文件
            },
            {
                name: '夜に駆ける',           //歌曲名称
                artist: 'yoasobi',       //歌曲作者
                url: 'https://music.163.com/song/media/outer/url?id=1409311773.mp3',         //歌曲源文件地址
                cover: 'https://p1.music.126.net/3xWlqwYmfwRFebeiONUpGg==/109951164546210608.jpg',     //歌曲封面地址
                lrc: '[00:01.430]沈むように溶けてゆくように\n[00:08.831]二人だけの空が広がる夜に\n[00:21.295]\n[00:31.481]「さよなら」だけだった\n[00:34.049]その一言で全てが分かった\n[00:37.756]日が沈み出した空と君の姿\n[00:42.122]フェンス越しに重なっていた\n[00:46.116]初めて会った日から\n[00:48.797]僕の心の全てを奪った\n[00:52.408]どこか儚い空気を纏う君は\n[00:56.848]寂しい目をしてたんだ\n[01:00.084]いつだってチックタックと\n[01:02.112]鳴る世界で何度だってさ\n[01:03.945]触れる心無い言葉うるさい声に\n[01:05.905]涙が零れそうでも\n[01:08.580]ありきたりな喜びきっと二人なら見つけられる\n[01:14.938]騒がしい日々に笑えない君に\n[01:18.959]思い付く限り眩しい明日を\n[01:22.649]明けない夜に落ちてゆく前に\n[01:26.350]僕の手を掴んでほら\n[01:29.241]忘れてしまいたくて閉じ込めた日々も\n[01:33.781]抱きしめた温もりで溶かすから\n[01:37.493]怖くないよいつか日が昇るまで\n[01:41.768]二人でいよう\n[01:46.951]\n[01:58.300]君にしか見えない\n[02:00.758]何かを見つめる君が嫌いだ\n[02:04.514]見惚れているかのような恋するような\n[02:08.833]そんな顔が嫌いだ\n[02:12.579]信じていたいけど信じれないこと\n[02:14.374]そんなのどうしたってきっと\n[02:16.054]これからだっていくつもあって\n[02:17.903]そのたんび怒って泣いていくの\n[02:19.798]それでもきっといつかはきっと僕らはきっと\n[02:22.669]分かり合えるさ信じてるよ\n[02:28.783]\n[02:40.668]もう嫌だって疲れたんだって\n[02:43.048]がむしゃらに差し伸べた僕の手を振り払う君\n[02:48.096]もう嫌だって疲れたよなんて\n[02:50.418]本当は僕も言いたいんだ\n[02:54.725]ほらまたチックタックと\n[02:56.496]鳴る世界で何度だってさ\n[02:58.284]君の為に用意した言葉どれも届かない\n[03:01.568]「終わりにしたい」だなんてさ\n[03:03.903]釣られて言葉にした時\n[03:05.915]君は初めて笑った\n[03:11.461]騒がしい日々に笑えなくなっていた\n[03:15.364]僕の目に映る君は綺麗だ\n[03:19.082]明けない夜に溢(こぼ)れた涙も\n[03:22.772]君の笑顔に溶けていく\n[03:27.915]変わらない日々に泣いていた僕を\n[03:31.932]君は優しく終わりへと誘う\n[03:35.686]沈むように溶けてゆくように\n[03:39.347]染み付いた霧が晴れる\n[03:42.429]忘れてしまいたくて閉じ込めた日々に\n[03:46.697]差し伸べてくれた君の手を取る\n[03:50.405]涼しい風が空を泳ぐように今吹き抜けていく\n[03:57.099]繋いだ手を離さないでよ\n[04:00.509]二人今、夜に駆け出していく',        //歌曲的歌词文件
            },
        ]
    });
</script>
<% } %>
